<h2> This, is a good thing! </h2> </br>

<p>
  Looks like you're <%= @product_item.description %> <%= @product_item.product.title %> has run out of inventory.
  Let's get this back in stock and keep these sales up!
</p> </br> </br>

<h6>Thanks, </h6>
<h6> Your friends at DealBaked</h6>
