<h1>Welcome to DealBaked <%= @user.name %>! </h1> </br>

<p>
  Here at DealBaked you will find the hottest items on the internet for the best prices! We're glad you decided to join us!
</p>
</br> </br>
<h6> Your friends at DealBaked </h6>
