<nav class='grey lighten-2'>
  <a href="#" class="brand-logo black-text">Logo</a>
  <ul id="slide-out" class="side-nav fixed">
    <li class="logo black-text hide-on-med-and-down">LOGO</li>
    <li><a href="/admins">Dashboard</a></li>
    <li><a href="/admin-orders">Orders</a></li>
    <li><a href="/admin-affiliates">Affiliates</a></li>
    <li><a href="/admin-users">Users</a></li>
    <li><a href="/admin-products">Products</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="mdi-navigation-menu"></i></a>
</nav>
