
    <%= render partial: 'nav' %>

    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <p class='account-header' style='text-align:center'>User Information</p>
          </div>
        </div>
        <div class="row center">
          <div class="col s6">
            <p class="dashboard-headers"><strong>Total Users</strong></p>
            <p>12345</p>
          </div>
          <div class="col s6">
            <p class="dashboard-headers">Total Users:</p>
            <p><strong>12345</strong></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
