
    <%= render partial: 'nav' %>

    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <p class='account-header' style='text-align:center'>Users</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
