<nav id='cms-nav'>
  <a href="#" class="brand-logo black-text" id='logo'>DealBaked</a>
  <ul id="slide-out" class="side-nav fixed">
    <li class="logo white-text hide-on-med-and-down" id='logo'>DealBaked</li>
    <li><a href="/admins"><i id='nav-icons' class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
    <li><a href="/admin-orders"><i id='nav-icons' class="fa fa-list-alt" aria-hidden="true"></i>Orders</a></li>
    <li><a href="/admin-affiliates"><i id='nav-icons' class="fa fa-user-plus" aria-hidden="true"></i>Affiliates</a></li>
    <li><a href="/admin-users"><i id='nav-icons' class="fa fa-users" aria-hidden="true"></i>Users</a></li>
    <li><a href="/admin-products"><i id='nav-icons' class="fa fa-shopping-cart" aria-hidden="true"></i>Products</a></li>
    <li><a href="/admin-editing"><i id='nav-icons' class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Banners</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="mdi-navigation-menu"></i></a>
</nav>