<% @products.each_slice(3) do |slice| %>
<div class="row">

  <% slice.each do |product| %>
    <div class="col 14 m4 s12 product" style="display:inline-block">
      <div class="card">
         <%= link_to product_path(product.slug) do %>
          <div class="card-image">
            <%= image_tag product.image.url(:large), :class => "responsive-img" %>
            <div class="card-title" id = "card-category-title">
              <div style="font-size: 18px; font-weight: bold; color:white">
                <%= product.title %> </br>
              </div>
              <div style="font-size:16px">
                  $<%= product.price %>.00 </br>
                  <% if product.status === 1 %>
                    SOLD OUT
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<% end %>