<h1>Affiliate <%= current_user.email %> Products: </h1>

<% current_user.products.each do |product| %>
<div class="col l4 m12 s12" style="display:inline-block">
  <div class="card" style = "width: 400px">
      <div class="card-image">
        <%= image_tag product.picture, :style => 'height:400px; width:400px' %>
        <div class="card-title" id = "card-category-title">
          <div style="font-size: 18px; font-weighy: bold; color:white">
            <%= product.title %>
          </div>
          <div style="font-size:16px">
            $<%= product.price %>.00
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
