<h2><%= current_user.email %>'s Cart</h2>

<!-- <#% current_user.cart_items.each do |item| %>
  <h5>Item ID: <#%= item.id %> </h5>
  <h5> User ID: <#%= item.user_id %> </h5>
  <h5> Product ID: <#%= item.product_id %> </h5>
  <hr>
<#% end %> -->
<% @cart.each do |item| %>
<h3> <%= item.title %> </h3>
<h4> <%= item.description %> </h4>
<h4> <%= item.price %> </h4>
<hr>
<% end %>
