// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error-div {
  background: rgba(255, 0, 15, .7);
  width: 99%;
  margin-left: .5%;
  // height: 70px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.error-text {
  color: white;
  font-size: 18px;
}

.success-div {
  background: rgba(10, 208, 0, .7);
  width: 99%;
  margin-left: .5%;
  // height: 70px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.success-text {
  color: white;
  font-size: 18px;
}

#change-password {
  display: none;
}

#toggle-info {
  display: none;
}
