<% @apparel.each do |apparel| %>
  <div id = "apparel" style = "border: 1px solid black; width: 30%; text-align: center; margin: 5px; display:inline-block">
    <h4><%= link_to apparel.title, product_path(apparel.id) %> </h4>
    <%= image_tag apparel.image.url(:medium) %>
    <h6>$<%= apparel.price %></h6>
  </div>
<% end %>
