<% @tech.each do |tech| %>
  <div id = "tech" style = "border: 1px solid black; width: 30%; text-align: center; margin: 5px; display:inline-block">
    <h4><%= link_to tech.title, product_path(tech.id) %> </h4>
    <%= image_tag tech.image.url(:medium) %>
    <h6>$<%= tech.price %></h6>
  </div>
<% end %>
