<h1>Apparel</h1>

<div class="infinite-table">
    <%= render :partial => 'apparel'%>
  </div>

  <p class="pagination hidden" style="margin-left:47%">
    <%= link_to_next_page(@apparel, 'Next Page', :remote => true) %>
  </p>
