<%= render partial: 'partials/header' %>

<div class="container" style='min-height:460px'>
  <div class="row">
    <div class="col s12">
      <div class="row center grey darken-3" id='info-header-container'>
        <h4 class='white-text' id='info-header'>Contact</h4>
      </div>
      <div class="row">
        <div class="col l6 s12">
          <div class="input-field col s12">
            <h5>How can we help?</h5>
            <select id='add-to-cart-qty'>
                <option value="" disabled selected>Issue 1</option>
                <option value="1">Issue 2</option>
                <option value="2">Issue 3</option>
                <option value="3">Issue 4</option>
                <option value="3">Issue 5</option>
                <option value="3">Issue 6</option>
              </select>
          </div>
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Subject</label>
          </div>
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Message</label>
          </div>
          <div class="input-field col s12 center">
            <button class='btn red lighten-1' type="submit" name="action" id='add-to-cart-btn'>Submit</button>
          </div>
        </div>
        <div class="col l6 s12 center">
          <div id="contact-info" style='margin-top:50px'>
            <p>
            <strong>Customer Support</strong><br>
            support@dealbaked.com
          </p>
          <hr>
          <p>
            DealBaked inc.<br>
            350 Sunny Street<br>
            Miami, FL 06900<br>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'partials/footer' %>