<%= render partial: 'partials/header' %>

<div class="container" style="min-height:460px">
  <div class="row">
    <div class="col s12">
      <div class="row center grey darken-3" id="info-header-container">
        <h4 class="white-text" id="info-header">Essentials</h4>

		<div class="infinite-table">
		    <%= render :partial => 'essential'%>
		  </div>

		  <p class="pagination hidden" style="margin-left:47%">
		    <%= link_to_next_page(@essentials, 'Next Page', :remote => true) %>
		  </p>

      </div>
    </div>
  </div>
</div>