<%= render partial: 'partials/header' %>

<div class="container" id='main-content' style="min-height:460px">
  <div class="row">
    <div class="col s12">
		<div class="infinite-table">
		    <%= render :partial => 'essential'%>
		  </div>

		  <p class="pagination hidden" style="margin-left:47%">
		    <%= link_to_next_page(@essentials, 'Next Page', :remote => true) %>
		  </p>

    </div>
  </div>
</div>

<%= render partial: 'partials/footer' %>

<script>
  var active = true;

  function scroller(){
    $(window).scroll(function() {
      var url = $('.pagination > a').attr('href');
      if(active && url && $(window).scrollTop()>$(document).height()-$(window).height()-10){
        active = false;
        return $.getScript(url);
      }
    });
  }

  $(document).ready(function(){
    scroller()
  })
</script>
