<h1>Gadgets</h1>


<div class="infinite-table">
    <%= render :partial => 'gadgets'%>
  </div>

  <p class="pagination hidden" style="margin-left:47%">
    <%= link_to_next_page(@gadgets, 'Next Page', :remote => true) %>
  </p>
