


<!-- <input ng-model="search.$" placeholder = "SEARCH PRODUCTS"> -->
<section ng-controller="ProductsController">

<div class = "container" id='main-content'>

  <div ng-repeat="product in products | filter:search.$" style="display:inline-block">

    <div class="col 14 m12 s12" style="display:inline-block">
      <div class="card" style="width:400px; height:420px">
        <a href="/products/{{product.id}}">
          <div class="card-image">
            <img src="{{product.picture}}" id = "product-image" class = "responsive-img" style='height:300px' alt="" />
            <div class="card-title" id = "card-category-title">
              <div style="font-size: 18px; font-weight: bold; color:white">
                {{product.title}}
              </div>
              <div style="font-size:16px">
                ${{product.price}}.00
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- <div class="col l4 m6 s12">
      <div class="card">
        <a href="/products/{{products[$index].id}}">
          <div class="card-image">
            <img src="{{products[$index].picture}}" id = "product-image" class = "responsive-img" alt="" />
            <div class="card-title" id = "card-category-title">
              <div style="font-size: 18px; font-weighy: bold; color:white">
                {{products[$index].title}}
              </div>
              <div style="font-size:16px">
                ${{products[$index].price}}.00
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class = "col l4 m6 s12">
        <div class="card">
          <a href="/products/{{products[$index +1].id}}">
            <div class="card-image">
              <img src="{{products[$index +1].picture}}" id = "product-image" class = "responsive-img" alt="" />
              <div class="card-title" id = "card-category-title">
                <div style="font-size: 18px; font-weighy: bold; color:white">
                  {{products[$index +1].title}}
                </div>
                <div style="font-size:16px">
                  ${{products[$index +1].price}}.00
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    <div class="col l4 m6 s12">
        <div class="card">
          <a href="/products/{{products[$index + 2].id}}">
            <div class="card-image">
              <img src="{{products[$index + 2].picture}}" id = "product-image" class = "responsive-img" alt="" />
              <div class="card-title" id = "card-category-title">
                <div style="font-size: 18px; font-weighy: bold; color:white">
                  {{products[$index + 2].title}}
                </div>
                <div style="font-size:16px">
                  ${{products[$index + 2].price}}.00
                </div>
              </div>
            </div>
          </a>
        </div>
      </div> -->

  </div>

    <!-- <h3>{{ product.title }}</h3>
    <p>
      {{ product.description }}
    </p> -->

</div>

  <!-- Filter:
  <select ng-model="filterItem.store" ng-options="item.name for item in filterOptions.stores">
  </select>
  Sort:
  <select ng-model="sortItem.store" ng-options="item.name for item in sortOptions.stores">
  </select>
  <p>
    <strong>Selected Filter dropdown item: </strong> {{filterItem.store.category}}
  </p>

  <p>
    <strong>Selected Sort dropdown item: </strong> {{sortItem.store.category}}
  </p>


<h4>Filter By: {{filterItem.store.name}}</h4>
<h4>Sort By: {{sortItem.store.name}}</h4> -->

<!-- <div class="container" id='main-content'> -->
  <!-- <div ng-controller = "ProductsController"> -->
    <!-- <div ng-repeat="product in products | filter:search.$" ng-if="$index % 3 == 0" class="row">

      <div class="col l4 m6 s12">
        <div class="card">
          <a href="/products/{{products[$index].id}}">
            <div class="card-image">
              <img src="{{products[$index].picture}}" id = "product-image" class = "responsive-img" alt="" />
              <div class="card-title" id = "card-category-title">
                <div style="font-size: 18px; font-weighy: bold; color:white">
                  {{products[$index].title}}
                </div>
                <div style="font-size:16px">
                  ${{products[$index].price}}.00
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    <div class = "col l4 m6 s12">
        <div class="card">
          <a href="/products/{{products[$index +1].id}}">
            <div class="card-image">
              <img src="{{products[$index +1].picture}}" id = "product-image" class = "responsive-img" alt="" />
              <div class="card-title" id = "card-category-title">
                <div style="font-size: 18px; font-weighy: bold; color:white">
                  {{products[$index +1].title}}
                </div>
                <div style="font-size:16px">
                  ${{products[$index +1].price}}.00
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    <div class="col l4 m6 s12">
        <div class="card">
          <a href="/products/{{products[$index + 2].id}}">
            <div class="card-image">
              <img src="{{products[$index + 2].picture}}" id = "product-image" class = "responsive-img" alt="" />
              <div class="card-title" id = "card-category-title">
                <div style="font-size: 18px; font-weighy: bold; color:white">
                  {{products[$index + 2].title}}
                </div>
                <div style="font-size:16px">
                  ${{products[$index + 2].price}}.00
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
  </div>

  </div> -->
</section>
