<%= render partial: 'partials/header' %>

<div class="container">
	<div class="col s12">
		<p class='account-header'>Thank you for your order!</p>
	</div>
</div>


<%= render partial: 'partials/footer' %>
